@font-face {
  font-family: "ShadowIntoLight-Regular";
  src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

p {
  font-family: "ShadowIntoLight-Regular";
  font-size: 12px;
}

.main-ul {
  font-size: 12px;
}

.main-ul li{
  font-size: 1.2rem;
}

p.example3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

p.example4 {
  font-size: 21;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}