#text-f {
  color: blue;
}
.lorem.text-2 {
  font-size: 21px;
  color: green;
}

.lorem {
  font-size: 21px;
  color: red;
}

.unordered  > .ul-item {
  color: green;
}

.btn {
  background-color: orange;
}